body{
	background-color: black;
}

.container{
	margin-top: 100px;
	background-color: white;
	height: 494px;
	width: 100%;
}

.streetfighter{
	padding-left: 40px;
	height: 494px;
	width: 659px;
	float: left;
	display: inline-block;
}

.streetfighter img{
	position: absolute;
}

#standing-still{
	--visibility: auto;
}

#ready, #cool, #throwing, #fireball{
	display: none;
}

#fireball{
	position: absolute;
	top: 275px;
	right: 0px;
}

.text{
	height: 494px;
	width: 700px;
	left: 660px;
	padding-top: 40px;
	color: red;
	position: absolute;
	font-family: 'Maven Pro', sans-serif;
	font-size: 2.25em;
	font-style: italic;
}

.text div{
	width: 350px;
}

.text div:nth-child(2){
	float: right;
}

.text div:nth-child(3){
	clear: both;
	padding-top: 50px;
	width: auto;
	text-align: center;
}
