body{
	background-color: black;
}

.container{
	margin-top: 100px;
	background-color: white;
	height: 494px;
	width: 100%;
}

.streetfighter{
	padding-left: 40px;
	height: 494px;
	width: 659px;
	position: relative;
}

.streetfighter img{
	position: absolute;
}

#standing-still{
	--visibility: auto;
}

#ready, #cool, #throwing, #fireball{
	display: none;
}

#fireball{
	position: absolute;
	top: 200px;
	right: 0px;
}

